{% extends "base.html" %}
{% block title %}{{ page.title }}{% endblock %}
{% block content %}
<!-- welcome banner -->  
{% load wagtailcore_tags wagtailimages_tags %}
<div class="header container-fluid">
  <div class="row my-md-5 hero">
    <h1 class="text-center display-3 hero">{{ page.hero }}</h1>
  </div>
  <div class="row">
  {% image page.hero_background original class="squish-image" %}
    <div class="col-md-8 offset-md-2">
      {{ page.body }}
    </div>
  </div>
</div>
<!-- blurb about us and what we do -->  
<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <h3>Get started</h3>
      <a href="{% slugurl 'blog' %}" class="btn btn-primary">Blog</a>
    </div>
  </div>
</div>
<!-- link to quote page -->  
<!-- services -->  
<!-- blog -->  
{% endblock %}

