{% extends "base.html" %}
{% block title %}Terra Venusta{% endblock %}
{% block content %}
<!-- welcome banner -->  
<div class="header container-fluid">
  <div class="row">
    <div class="column text-center">
      <h2>Terra Venusta Landscaping Blog</h2>
      <p class="lead">
        Beautiful and Functional Outdoor Spaces
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <p>Hi! I'm Xenia Froelich-Leon, an aspiring landscape developer. Eventually this website will turn into my business site. For now, I'll use it to publish content as I go along my path.</p>
      <p>I am building a full-service landscaping company focusing on:</p>
      <ul>
        <li>permaculture</li>
        <li>water conservation</li>
        <li>child-friendly designs</li>
        <li>native plants</li>
        <li>greywater irrigation</li>
        <li>earthen outdoor structures</li>
      </ul>
      <p>
        I live in Ventura County, California.
      </p>
    </div>
  </div>
</div>
<!-- blurb about us and what we do -->  
<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <h3>Projects</h3>
      <h3>About</h3>
      <p>Terra Venusta is Latin for "beatiful earth."</p>
    </div>
  </div>
</div>
<!-- link to quote page -->  
<!-- services -->  
<!-- blog -->  
{% endblock %}

