{% extends "base.html" %}
{% block title %}{{ page.title }}{% endblock %}
{% block content %}
<!-- welcome banner -->  
{% load wagtailcore_tags wagtailimages_tags %}
<div class="header container-fluid">
  <div class="row my-md-5 hero">
    <h1 class="text-center display-3 hero">{{ page.hero }}</h1>
  </div>
  <div class="row">
  {% image page.hero_background original class="squish-image" %}
    <div class="col-md-8 offset-md-2 py-2">
    {% for block in page.body %}
        <div class="block-{{ block.block_type }}">
          {% if block.block_type == 'image' %}
            {% image block.value max-1000x500 class="post-content-image" %}
          {% elif block.block_type == 'heading'  %}
            <h2>{% include_block block %}</h2>
          {% else %}
            {% include_block block %}
          {% endif %}
        </div>
    {% endfor %}
    </div>
  </div>
</div>
<!-- blurb about us and what we do -->  
<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <h3>Get started</h3>
      <a href="{% slugurl 'blog' %}" class="btn btn-primary">Blog</a>
    </div>
  </div>
</div>
<!-- link to quote page -->  
<!-- services -->  
<!-- blog -->  
{% endblock %}

