{% extends "base.html" %}
{% load wagtailcore_tags %}
{% load wagtailuserbar %}
{% block title %}{{ page.title }}{% endblock %}
{% block content %}
{% wagtailuserbar %}
<a href="{% pageurl page.get_parent %}" class="link-dark">Back to index</a>
{% if page %}
<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
    <h1>{{ page.title }}</h1>
      {% if page.should_display_updated == True %}
        <p>updated {{ page.last_published_at|date:"SHORT_DATE_FORMAT" }}</p>
      {% endif %}
        <p>published {{ page.first_published_at|date:"SHORT_DATE_FORMAT" }}</p>
{% include_block page.body %}
{% else %}
      <p>No page dag yo</p>
{% endif %}
  <h2>Comments</h2>
  <div class="container border-top py-3">
    <!-- create a new comment thread -->
    {% include 'cmsblog/comment_response.html' with form_id="new_comment" post_id=page.id thread_id="new" form_class="collapse show" mode="comment" %}
    {% for t in page.thread_set.all %}
      {% if t.comment_set.count > 0 %}
        <div class="my-3 p-3 border-start">
          {% for c in t.comment_set.all %}
            <!-- each comment -->
            {% include 'cmsblog/comment_response.html' with form_id=c.form_target post_id=page.id thread_id=t.pk form_class="collapse" mode="comment" comment=c %}
          {% endfor %}
          <!-- reply to this thread -->
          {% include 'cmsblog/comment_response.html' with form_id=t.pk post_id=page.id thread_id=t.pk form_class="collapse" mode="reply" %}
        </div>
      {% endif %}
    {% endfor %}
  </div>
</div>
  </div>
</div>
<!-- 
<script>
  // when edit clicked, show edit comment dialog or another page?
  // SO has edits on a separate page...
  // FB is inline and very simple, just toggle the field from <p> to text box on click
  // let's try: on click, replace prev with form with same text content
  // need emoji and highlighting urls?
  // when delete clicked, popup asking if they want to confirm

  const comment_edit = document.querySelector('comment_edit');
  const comment_delete = document.querySelector('comment_delete');
  comment_edit.addEventListener('click', (event) => {

    });

</script>
-->
<script>
  function delete_dialog(event) {
      alert("delete confirmation");
    }
  document.addEventListener("DOMContentLoaded", () => {
    document.querySelectorAll("button.comment-delete").forEach((btn) => {
        btn.addEventListener("click", delete_dialog)
      });
    });
//   data-text-target="{{ text_target }}" data-form-target="{{ form_target }}">
</script>

<script
  src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
  crossorigin="anonymous"></script>
<script>
    
</script>
{% endblock content %}
