{% extends "base.html" %}
{% load wagtailcore_tags %}
{% load wagtailuserbar %}
{% load wagtailcore_tags %}
{% block title %}{{ page.title }}{% endblock %}
{% block content %}
{% wagtailuserbar %}
<a href="{% pageurl page.get_parent %}">Back to index</a>
{% if page %}
<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
    <h1>{{ page.title }}</h1>
      {% if page.should_display_updated == True %}
        <p>updated {{ page.edit_date|date:"SHORT_DATE_FORMAT" }}</p>
      {% endif %}
      <p>published {{ page.pub_date|date:"SHORT_DATE_FORMAT" }}</p>
{% include_block page.body %}
{% else %}
      <p>No page dag yo</p>
{% endif %}
  <h2>Comments</h2>
  <div>
    {% include 'cmsblog/comment_response.html' with form_id="new_comment" post_id=page.id thread_id="new" form_class="collapse show" %}
  </div>
  {% for t in page.thread_set.all %}
  {% if t.comment_set.count > 0 %}
    <div>
      {% for c in t.comment_set.all %}
      <p>
        {{ c.author|default:"anonymous" }}
        wrote on {{ c.pub_date }} 
        {% if c.edit_date != c.edit_date %} 
        edited on {{ c.edit_date }} {% endif %}
      </p>
      <p>{{ c.comment_text }}</p>
      {% endfor %}
      <div>
        {% include 'cmsblog/comment_response.html' with form_id=t.chain_id post_id=page.id thread_id=t.pk form_class="collapse" %}
      </div>
    </div>
  {% endif %}
  {% endfor %}
    </div>
  </div>
</div>
<!-- <script>
  // TODO move
  let comments = ['one', 'two', 'three']
  let myblock = document.getElementById('test')
  for (const comment of comments) {
      const element = document.createElement('p');
      element.textContent = comment;
      myblock.appendChild(element);
    }
</script>

-->
<script
  src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
  crossorigin="anonymous"></script>
<script>
    
</script>
{% endblock content %}
