{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}

{#{% block body_class %}template-blogindexpage{% endblock %}#}

{% block content %}
    <h1>{{ page.title }}</h1>

    <div class="intro">{{ page.intro|richtext }}</div>

    {% if not active_posts %}
    <h1>Nothing is posted</h1>
    {% else %}
      {% for post in active_posts %}
          <div class="card" style="width: 18rem;">
            {% image post.feed_image max-400x400 %}
            <div class="card-body">
              <h5 class="card-title">{{ post.title }}</h5>
              <p class="card-text">{{ post.intro }}</p>
              <p class="card-text">{{ post.edit_date|date:"SHORT_DATE_FORMAT" }}</p>
              <a href="{% pageurl post %}" class="btn btn-primary">
                View Post
              </a>
            </div>
          </div>
      {% endfor %}
    {% endif %}

{% endblock %}
