<div class="container">
  {% if comment %}
    <div class="row">
      <div class="col-md-11">
        <p id="{{ c.text_target }}"> 
          <span class="{{c.text_target}}">
            {{ comment.get_text|urlize }} 
          </span>
          <span class="nowrap"> 
            - <a tabindex="0" class="popover-dismiss fw-bold" role="button" data-bs-toggle="popover" 
              data-bs-title="User Info" 
              data-bs-content="{{ c.owner.first_name|default:"anonymous" }} {{ c.owner.last_name }}">
              {{ c.owner|default:"anonymous" }}</a>
            <span class="text-muted"> 
              {{ comment.last_published_at|timesince}} ago
              {% if comment.edited and not comment.deleted %} 
                <svg class="bi" width="1rem" height="1rem" fill="currentColor">
                  <use xlink:href="/static/bootstrap-icons.svg#pencil-fill"/>
                </svg>
              {% endif %}
            </span>
          </span> 
        </p>
      </div>
      <div class="col-md-1">
        {% if user.is_authenticated and user == c.owner and not comment.deleted %}
        <div class="row py-1">
          <button class="centered-button btn btn-small btn-primary" data-bs-toggle="collapse" 
              data-bs-target="#{{ form_id }}" aria-expanded="false" aria-controls="{{ form_id }}">
            <svg class="bi" width="1rem" height="1rem" fill="currentColor">
              <use xlink:href="/static/bootstrap-icons.svg#pencil-square"/>
            </svg>
          </button>
        </div>
        <div class="row py-1">
          <button data-thread-id="{{ thread_id}}" data-comment-id="{{ comment.pk }}" 
               data-post-id="{{ post_id }}" data-bs-toggle="modal" data-bs-target="#delete_modal" 
               class="centered-button btn btn-small btn-secondary">
            <svg class="bi" width="1rem" height="1rem" fill="currentColor">
              <use xlink:href="/static/bootstrap-icons.svg#trash3"/>
            </svg>
          </button>
        </div>
        {% endif %}
      </div>
    </div>
    {% endif %}
  {% if user.is_authenticated %}
  {% if mode == 'reply' %}
    <button class="centered-button btn btn-primary" type="button" data-bs-toggle="collapse" 
          data-bs-target="#{{ form_id }}" aria-expanded="false" aria-controls="{{ form_id }}">
      <svg class="bi" width="1rem" height="1rem" fill="currentColor">
        <use xlink:href="/static/bootstrap-icons.svg#reply"/>
      </svg>
      Reply
    </button>
    {% endif %}
    <form action="{% url 'blog:comment' post_id thread_id %}" 
          method="post" class="{{ form_class }}" id="{{ form_id }}">
      {% csrf_token %}
      <div class="mb-3">
        <label for="{{ form_id }}_text" class="form-label">Your comment</label>
        <textarea id="{{ form_id }}_text" class="form-control"
              name="comment" required minlength="4" 
              maxlength=1000 rows=3>{{ comment.get_text }}</textarea>
      </div>
      <button type="submit" class="centered-button btn btn-primary">Submit</button>
      {% if comment %}
        <input type="hidden" name="comment_id" value="{{ comment.pk }}">
      {% endif %}
    </form>
  {% endif %}
</div>
