{% extends "base.html" %}
{% block title %}{{ post.title }}{% endblock %}
{% block content %}
  {% if post %}
<div class="container">
  <h1>{{ post.title }}</h1>
  <p>published {{ post.pub_date }}</p>
  {% if post.pub_date != post.edit_date %}
  <p>updated {{ post.edit_date }}</p>
  {% endif %}
  <p>{{ post.text }}</p>
  {% else %}
    <p>No post dag yo</p>
  {% endif %}
  <h2>Comments</h2>
  <div>
    {% include 'blog/comment_response.html' with form_id="new_comment" post_id=post.pk thread_id="new" form_class="collapse show" %}
  </div>
  {% for t in post.thread_set.all %}
  {% if t.comment_set.count > 0 %}
    <div>
      {% for c in t.comment_set.all %}
      <p>
        {{ c.author|default:"anonymous" }}
        wrote on {{ c.pub_date }} 
        {% if c.edit_date != c.edit_date %} 
        edited on {{ c.edit_date }} {% endif %}
      </p>
      <p>{{ c.comment_text }}</p>
      {% endfor %}
      <div>
        {% include 'blog/comment_response.html' with form_id=t.chain_id post_id=post.pk thread_id=t.pk form_class="collapse" %}
      </div>
    </div>
  {% endif %}
  {% endfor %}
</div>
<!-- <script>
  // TODO move
  let comments = ['one', 'two', 'three']
  let myblock = document.getElementById('test')
  for (const comment of comments) {
      const element = document.createElement('p');
      element.textContent = comment;
      myblock.appendChild(element);
    }
</script>

-->
<script
  src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
  crossorigin="anonymous"></script>
<script>
    
</script>
{% endblock content %}
