{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% load wagtailcore_tags %}
{% load wagtailuserbar %}
{% load wagtailimages_tags %}
{% block title %}{{ page.title }}{% endblock %}
{% block content %}
{% wagtailuserbar %}
{% if page %}
<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <a href="{% pageurl page.get_parent %}" class="link-dark">Back to index page</a>
      <h1>{{ page.title }}</h1>
      <div class="row">
          {% if page.should_display_updated %}
          <div class="col-md-5">
            <span class="text-muted"> Updated </span>{{ page.last_published_at|naturaltime }}
          </div>
          {% endif %}
          <div class="col-md-5">
            <span class="text-muted"> Published </span> {{ page.first_published_at|naturaltime }}
          </div>
      </div>
      <div class="row">
        <div class="col iconized">
            <svg class="bi bi-person" width="1em" height="1em" viewBox="0 0 1em 1em" fill="currentColor">
              <use xlink:href="{% static 'node_modules/bootstrap-icons/bootstrap-icons.svg#person' %}"/>
            </svg>
            {{ page.owner.first_name }}
            {{ page.owner.last_name }}
        </div>
      </div>
      <p class="lead">{{ page.intro }}</p>
      {% if page.stats.all %}
        <h2>Project Statistics</h2>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Value</th>
              <th scope="col">Units</th>
              <th scope="col">Description</th>
            </tr>
          </thead>
          <tbody>
            {% for stat in page.stats.all %}
              <tr scope="row">
                <td>{{stat.category.name}}</td>
                <td>{{stat.value}}</td>
                <td>{{stat.category.units}}</td>
                <td>{{stat.details}}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      {% endif %}
    {% for block in page.body %}
        <div class="block-{{ block.block_type }}">
          {% if block.block_type == 'image' %}
            {% image block.value max-1000x500 class="post-content-image" %}
          {% elif block.block_type == 'heading'  %}
            <h2>{% include_block block %}</h2>
          {% else %}
            {% include_block block %}
          {% endif %}
        </div>
    {% endfor %}
    {% comment %}
    {% if page.related_links.all %}
      <div class="container border-top py-3">
        <h2>Related Content</h2>
        <div class="list-group">
          {% for l in page.related_links.all %}
            <a class="list-group-item list-group-item-action" href="{{ l.url }}">{{ l.name }}</a>
          {% endfor %}
        </div>
      </div>
    {% endif %}
    {% endcomment %}

{% else %}
      <p>No page dag yo</p>
{% endif %}

    </div>
  </div>

  <!-- modal saying you must log in or register -->
  <div class="modal fade" id="unauth_modal" tabindex="-1">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Log in or Register</h5>
          <button type="button" class="btn-close" 
            data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>Please log in or register to access this feature</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <!-- modal for deletion confirmation -->

  <!-- modal for comment flagging confirmation -->
  <div class="modal fade" id="flag_modal" tabindex="-1">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Confirm Comment Flagging</h5>
          <button type="button" class="btn-close" 
            data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>Are you sure you want to flag this comment as inappropriate?</p>
        </div>
        <div class="modal-footer">
          <form action="{% url 'blog:comment-flag' %}" 
            method="post">
            {% csrf_token %}
            <input type="hidden" class="comment_id" name="comment_id" value="unset">
            <input type="hidden" class="thread_id" name="thread_id" value="unset">
            <input type="hidden" class="post_id" name="post_id" value="unset">
            <input type="hidden" name="_method" value="delete">
            <button type="submit" id="delete_confirm" class="btn btn-primary">Flag</button>
          </form>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <!-- modal for deletion confirmation -->
  <div class="modal fade" id="delete_modal" tabindex="-1">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Confirm Deletion</h5>
          <button type="button" class="btn-close" 
            data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>Confirm Comment Deletion</p>
        </div>
        <div class="modal-footer">
          <form action="{% url 'blog:comment' 0 0 %}" 
            method="post">
            {% csrf_token %}
            <input type="hidden" class="comment_id" name="comment_id" value="unset">
            <input type="hidden" class="thread_id" name="thread_id" value="unset">
            <input type="hidden" class="post_id" name="post_id" value="unset">
            <input type="hidden" name="_method" value="delete">
            <button type="submit" id="delete_confirm" class="btn btn-primary">Delete</button>
          </form>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

{% endblock content %}

{% block scripts %}
<script>

  function set_form_fields(button, modal) {
    // add specific info to the delete form in the modal
    const comment_id = button.getAttribute('data-comment-id')
    const post_id = button.getAttribute('data-post-id')
    const thread_id = button.getAttribute('data-thread-id')
    modal.querySelector('.comment_id').value = comment_id
    modal.querySelector('.post_id').value = post_id
    modal.querySelector('.thread_id').value = thread_id
  }

  const flag_modal = document.getElementById('flag_modal')
  flag_modal.addEventListener('show.bs.modal', event => {
      set_form_fields(event.relatedTarget, flag_modal)
  })

  const delete_modal = document.getElementById('delete_modal')
  delete_modal.addEventListener('show.bs.modal', event => {
    set_form_fields(event.relatedTarget, delete_modal)
  })

  const popoverTriggerList = document.querySelectorAll('[data-bs-toggle="popover"]')
  const popoverList = [...popoverTriggerList].map(popoverTriggerEl => new bootstrap.Popover(popoverTriggerEl))
</script>
{% endblock scripts %}
