:root {
  --brand-primary: #F9EBC8;
  --brand-secondary: #FEFBE7;
  --brand-tertiary: #DAE5D0;
  --brand-quaternary: #A0BCC2;
  --font: 'Jura';
}

body {
  /*background: linear-gradient(0.3turn, var(--brand-secondary), var(--brand-quaternary));*/
  font-family: var(--font), sans-serif;
}


